[MASTER]
ignore=unit_tests,.venv

[FORMAT]
max-line-length=120

[MESSAGES CONTROL]
disable=
    R1734, # use-list-literal
    R1735, # use-dict-literal
    R0902, # too-many-instance-attributes
# 12:     E0401, # import-error

#     C0114,  # missing-module-docstring
#     C0115,  # missing-class-docstring
#     C0116   # missing-function-docstring
